h5 {
  font-family: 'Poiret One', cursive;
  font-weight: 700;
}

.content {
  max-width: 500px;
  margin: auto;
}

/* #logo {
  width: 380px;
} */

a {
  color: darkblue;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 0px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.portfolio {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  width: 270px; /* Set a small width */
  box-shadow: 2px 2px grey;
}

/* Add a hover effect (blue shadow) */
.portfolio:hover {
  box-shadow: 0 0 2px 1px rgb(18, 98, 179);
  opacity: 0.5;
}


/* Dropdown Button */
.dropbtn {
  background-color: rgb(213, 30, 30);
  color: white;
  padding: 16px;
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  font-family: 'Poiret One', cursive;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: black;}
