/* Background */
body {
  
    /* Typography */
    line-height: 150%;
  
    /* Visual */
    background-image: url("../images/linear.gif");
    
  }
  

.logo {
    margin-left: 40%;
}

.webdev {
    font-family: 'Orbitron', sans-serif;
    color:rgb(24,101,255);
    font-size: 30px;
    margin-left: 58%;
}

.aboutme {
    font-family: 'Orbitron', sans-serif;
    color:rgb(24,101,255);
    font-size: 20px;
    margin-left: 58%;
    word-spacing: 3px;
    line-height: 25px;
    margin-left: 30%;
}


/* Portfolio Styling */

.project {
    clear: both;
    display: inline-table;
    width: 33%;
    margin: 10px;
}

.project h2 {
    clear: both;
    float: left;
    position: relative;
    bottom: 100px;
    color: white;
    background: #4aaaa5B1;
    padding: 0px 5px;
    width: 100%;
    text-align: center;
}





/* External Links CSS */
body{
    font-family: 'Orbitron', sans-serif;
    font-size: 10px;
    text-align: center;
 }
 
 .content{
   position: absolute;
   text-align: center;
   margin: -10px 0 0 -30px;
   top: 70%;
   left: 50%;
   font-size: 20px;
 }
 
 #menu {
     width: 150px;
     height: 150px;
     position: absolute;
     left: 60%;
     top: 88%;
     margin: -75px 0 0 -75px;
     list-style: none;
     font-size: 200%;
 }
 
 .menu-button {
     opacity: 0;
     z-index: -1;
 }
 
 .menu-button {
     width: 150px;
     height: 150px;
     position: absolute;
     left: 50%;
     top: 50%;
     margin: -75px 0 0 -75px;
     border-radius: 50%;
     background: rgb(24,101,255);
     background-size: 100%;
     overflow: hidden;
     text-decoration: none;
 }

 .menu-button:hover {
     background: white;
 }
 
 #menu:not(:target)>a:first-of-type,
 #menu:target>a:last-of-type {
     opacity: 1;
     z-index: 1;
 }
 
 #menu:not(:target)>.icon-plus:before,
 #menu:target>.icon-minus:before {
     opacity: 1;
 }
 
 .menu-item {
     width: 70px;
     height: 70px;
     position: absolute;
     left: 55%;
     line-height: 5px;
     top: 50%;
     margin: -50px 0 0 -50px;
     border-radius: 50%;
     background-color: rgb(24,101,255);
     transform: translate(0px, 0px);
     transition: transform 500ms;
     z-index: -2;
     transition: .5s;
 }
 
 .menu-item:hover{
 opacity: 0.5;
   box-shadow: 0 5px 10px black; 
 }
 
 
 .menu-item a {
     color: #fff;
     position: relative;
     top: 30%;
     left: 0;
     text-decoration: none;
 }
 
 #menu:target>.menu-item:nth-child(6) {
     transform: rotate(60deg) translateY(-150px) rotate(300deg);
     transition-delay: 0s;
 }
 
 #menu:target>.menu-item:nth-child(5) {
     transform: rotate(20deg) translateY(-155px) rotate(-20deg);
     transition-delay: 0.1s;
 }
 
 #menu:target>.menu-item:nth-child(3) {
     transform: rotate(-20deg) translateY(-155px) rotate(20deg);
     transition-delay: 0.2s;
 }
 
 #menu:target>.menu-item:nth-child(4) {
     transform: rotate(-60deg) translateY(-150px) rotate(60deg);
     transition-delay: 0.3s;
 }