.header {
     /* Box-model */
     max-width: 100%;
     margin: 0;
     background-color: white;
     border-style: solid;
     border-top: #333;
     border-width: 1px;
     border-color: #333;
}

.name {
    /* Box-model */
    padding: 18px 10px 18px 10px;
  
    /* Positioning */
    margin: 0;
    margin-left: 20%;
    font-size: 24px;
  
    /* Typography */
    color: white;
    text-align: left;
  
    /* Visual */
    background: #4aaaa5;
    width: 190px;
  }


.tabs {
    max-width: 100%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    margin-top: -50px;
    margin-right: 20%;
    text-decoration: none;
}

.tabs a {
    text-decoration: none;
    color: gray;

}

.content {
    margin: 60px 250px;
    margin-bottom: 200px;
    position: absolute;
    align-content: center;
    width: 960px;
    background: white;
    background-size: cover;
    border-color: #dddddd;
    flex-wrap: wrap;
    line-height: 30px;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    
}

body {
    /* Box-model */
    padding: 0px;
    text-align: left;
  
    /* Positioning */
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
  
    /* Typography */
    font-size: 14px;
    line-height: 150%;
    color: #333;
  
    /* Visual */
    background-image: url("topography.png");
    
  }
  
  .nav {
    position: relative;
    background: #777777;
    display: inline;
    width: 100%;
  }


  
.about {
    /* About Me */
    padding: 10px;
    margin-left: 5px;
    color: #4aaaa5;

}

  
  .photo {
    /* float: left; */
    background: white;
    background-size: cover;
    margin: 10px;
    float: left;
  }




hr {
    margin: 15px;
}


.tech h3 {
        /* Box-model */
        padding: 18px 10px 18px 10px;
  
        /* Positioning */
        margin: 0;
        margin-left: 20px;
        font-size: 24px;
        z-index: 10;
      
        /* Typography */
        color: white;
        text-align: left;
      
        /* Visual */
        background: #4aaaa5;
        width: 340px;
}

.tech img {
    z-index: 1;
         /* Box-model */
         padding: 18px 10px 18px 10px;
  
         /* Positioning */
         margin: 0;
         margin-left: 20px;
         font-size: 24px;
         z-index: 10;
       
         /* Typography */
         color: white;
         text-align: left;
}

.tech {
    background: red;
    display: inline;
    border: 2px solid blue;
}



.project {
    clear: both;
    display: inline-table;
    width: 33%;
    margin: 10px;
}

.project h2 {
    clear: both;
    float: left;
    position: relative;
    bottom: 100px;
    color: white;
    background: #4aaaa5B1;
    padding: 15px 5px;
    width: 100%;
    text-align: center;
}


.content {
	width: 960px;
    margin: auto;
    height: 560px;
    margin: 60px 250px;
    margin-bottom: 200px;
    position: absolute;
    align-content: center;
    width: 960px;
    background: white;
    background-size: cover;
    border-color: #dddddd;
    flex-wrap: wrap;
    line-height: 30px;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
}


.submit {
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #4aaaa5;
}

.submit:hover {
    background-color: #4aaaa5;
    color: white;
}

input, textarea {
    width: 40%;
}
input {
    height: 30px;
}



.footer { 
    display: block;
    margin-bottom: 0%;
    background: #4b4a4a;
    text-align: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(170, 170, 170);
    clear: both;
    padding: 30px;
    position: fixed;
    bottom: 0;
}